@model IList<MovePigMove.Core.Entities.Workout>

<h3>Summary</h3>

@foreach(var w in Model.Where(x => x.CardioSegments.Any() || x.StrengthSegments.Any()))
{
    @w.StartDate.ToShortDateString()
    <br/>
    
    if (w.CardioSegments.Count() > 0)
    {
        <strong>Cardio</strong>
        <br />
        foreach(var ex in w.CardioSegments)
        {
            Html.Raw(string.Format("{0} minutes of {1} at {2}", ex.Duration, ex.ExerciseDescription, ex.Level));
        }
    }
    
    if (w.StrengthSegments.Count() > 0)
    {
        <strong>Strength</strong>
        <br/>
        foreach (var ex in w.StrengthSegments)
        {
            @ex.ExerciseId <text>of</text> @ex.Repetitions <text>at</text> @ex.Weight <br />
        }
    }
    
    <hr />
}

