@model IList<MovePigMove.Core.Entities.Workout>


@foreach(var w in Model.Where(x => x.CardioSegments.Any() || x.StrengthSegments.Any()))
{
    <h3>@w.StartDate.ToShortDateString()</h3>
    <br/>
    
    if (w.CardioSegments.Count() > 0)
    {
        <strong>Cardio</strong>
        <p>
        @foreach(var ex in w.CardioSegments)
        {
            @Html.Raw(string.Format("{0} minutes of {1} at {2}<br />", ex.Duration, ex.ExerciseDescription, ex.Level));
        }
        </p>
    }
    
    if (w.StrengthSegments.Count() > 0)
    {
        <strong>Strength</strong>
        <p>
            @foreach (var ex in w.StrengthSegments)
            {
                @Html.Raw(string.Format("{0} : {1} reps of {2} lbs.", ex.ExerciseDescription, ex.Repetitions, ex.Weight));
            }
        </p>
    }
    
    <hr />
}

