@model dynamic

@{
    ViewBag.Title = "Create new workout?";
}

<h2>Create new workout?</h2>

You don't have a current workout in progress.

@using(Html.BeginForm("StartNew", "Workout", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Let's Get Started!"/> 
    @*<input type="submit" value="No"/>*@
}



